/node_modules
bundle.js
npm-debug.log
.DS_Store

# IntelliJ
*.iml
/.idea

.DS_Store
node_modules/
#dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage
_test.js
test.js

# production
build
public/imgs

pkg.cmd
prj.cmd
repo.cmd
package-lock.json

# misc
_app.js
journals_service_account.json
client_secret.json
#privatekey.json
scratch_1.txt
scratch.txt
traversy_exercise.js
*.cmd
prj.cmd
env.cmd
now.cmd
rg.cmd
repo.cmd
pkg.cmd
start.cmd
pkgr.cmd
.DS_Store
.env
custom_node_module_lab
npm-debug.log
#public/graphics
public/data
firebase_config.txt